.s-contato {
  background-color: var(--contato-color);
}

.container-form {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
  text-align: center;
}

.input-box {
  margin-bottom: 30px;
  position: relative;
}

.container-form input,
.container-form textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  color: var(--text-color);
  background-color: transparent;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid var(--text-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.container-form label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: var(--p-color);
  cursor: text;
  transition: 0.2s;
}

form .btn img {
  filter: var(--invert-1);
}


.container-form input:focus,
.container-form textarea:focus {
  background-color: var(--inputhover-color);
  transition: 1s;
}

.container-form input:valid,
.container-form textarea:valid {
  background-color: var(--inputhover-color);
}

.container-form input:focus~label,
.container-form input:valid~label,
.container-form textarea:focus~label,
.container-form textarea:valid~label {
  top: -35px;
  font-size: 14px;
}

.row-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-input .input-box {
  flex-basis: 48%;
}

@media (max-width: 1490px) {
  .container-form {
    padding: 70px 0;
  }
}

@media (max-width: 1180px) {
  .container-form {
    padding: 50px 0;
  }
}

@media (max-width: 780px) {
  .s-contato{
    min-height: 100vh;
  }

}