.footer {
  background-color: var(--footer-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-menu ul{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-menu a {
  color: var(--branco-color);
}

.footer-menu a:hover {
  color: var(--text-color);
}

.footer-icons ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-icons i {
  font-size: 30px;
  color: var(--branco-color);
}

.footer-icons i:hover {
  color: var(--text-color);
}

.footer-icons li:hover {
  transform: scale(1.2);
}

.footer-box p {
  max-width: 400px;
  color: var(--branco-color);
  text-align: center;
}